<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>SagePayMvc Sample</h1>
            </div>
              
            <div id="logindisplay">
				&nbsp;
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li>@Html.ActionLink("Store", "Index", "Home")</li>
                    <li>@Html.ActionLink("Basket", "Index", "Basket")</li>
                </ul>
            
            </div>
        </div>

        <div id="main">
            @RenderBody()

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
